In [56]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [57]:
application_df = application_df.drop(columns=["EIN", "NAME"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [58]:
application_types_to_replace = ["T25", "T14", "T29", "T15", "T17", "T9", "T13", "T9", "T12", "T2"]
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [59]:
application_df["CLASSIFICATION"].value_counts()

application_df["CLASSIFICATION"].value_counts()[application_df["CLASSIFICATION"].value_counts()>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [60]:
classifications_to_replace = ["C7000", "C1700", "C4000", "C1270", "C2700", "C2800", "C7100", "C1230", "C7200", "C1240", "C8000", "C2300", "C1500", "C7120", "C1800", "C1250", "C1280", "C1238", "C1235", "C1260", "C2710", "C1245", "C1237", "C3200", "C0", "C1257", "C1267", "C1234", "C4120", "C7210", "C1720", "C1256", "C1265", "C2380", "C2570", "C1236", "C1900", "C1246", "C2600", "C2561", "C4500", "C4200", "C5200", "C1728", "C1283", "C6100", "C1820", "C3700", "C2566", "C2577", "C2170", "C2190", "C1239", "C2150", "C1727", "C8210", "C6100", "C2190", "C2150", "C1239", "C1727", "C8210", "C6100", "C2190", "C2150", "C1239", "C1727", "C8210", "C6100", "C2190", "C2150", "C1239", "C1727", "C8210", "C6100", "C2190", "C2150", "C1239", "C1727", "C8210", "C6100", "C2190", "C2150", "C1239", "C1727", "C8210", "C6100", "C2190", "C2150", "C1239", "C1727", "C8210", 
                              "C5000", "C1300", "C1400", "C6000", "C8200", "C1278", "C4100", "C2400", "C1600", "C1732", "C1570", "C2500", "C1580", "C1370", "C1248"]
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [61]:
application_df = pd.get_dummies(application_df)

In [62]:
features = application_df.drop(columns=["IS_SUCCESSFUL"])
target = application_df["IS_SUCCESSFUL"]
# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=78)

In [63]:
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [67]:
nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
layer1 = tf.keras.layers.Dense(units=100, activation="relu", input_dim= 43)

# Second hidden layer
#  YOUR CODE GOES HERE
layer2 = tf.keras.layers.Dense(units=50, activation="relu")

#Additional hidden layer for optimization
layer3 = tf.keras.layers.Dense(units=25, activation="relu")



# Output layer
#  YOUR CODE GOES HERE
output_layer = tf.keras.layers.Dense(units=1, activation="sigmoid")

nn.add(layer1)
nn.add(layer2)
nn.add(layer3)
nn.add(output_layer)


# Check the structure of the model
nn.summary()

Model: "sequential_8"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_32 (Dense)            (None, 100)               4400

 dense_33 (Dense)            (None, 50)                5050

 dense_34 (Dense)            (None, 25)                1275

 dense_35 (Dense)            (None, 1)                 26

=================================================================
Total params: 10,751
Trainable params: 10,751
Non-trainable params: 0
_________________________________________________________________

In [68]:
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [69]:
nn_fit = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
858/858 [==============================] - 4s 4ms/step - loss: 0.5676 - accuracy: 0.7222
Epoch 2/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5546 - accuracy: 0.7305
Epoch 3/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5515 - accuracy: 0.7315
Epoch 4/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5498 - accuracy: 0.7325
Epoch 5/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5488 - accuracy: 0.7345
Epoch 6/100
858/858 [==============================] - 5s 6ms/step - loss: 0.5481 - accuracy: 0.7349
Epoch 7/100
858/858 [==============================] - 7s 8ms/step - loss: 0.5471 - accuracy: 0.7340
Epoch 8/100
858/858 [==============================] - 4s 4ms/step - loss: 0.5462 - accuracy: 0.7356
Epoch 9/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5460 - accuracy: 0.7363
Epoch 10/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5457 - accuracy: 0.7366
Epoch 11/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5450 - accuracy: 0.7365
Epoch 12/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5446 - accuracy: 0.7372
Epoch 13/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5438 - accuracy: 0.7373
Epoch 14/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5436 - accuracy: 0.7371
Epoch 15/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5436 - accuracy: 0.7377
Epoch 16/100
858/858 [==============================] - 4s 5ms/step - loss: 0.5428 - accuracy: 0.7378
Epoch 17/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5429 - accuracy: 0.7381
Epoch 18/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5421 - accuracy: 0.7383
Epoch 19/100
858/858 [==============================] - 5s 5ms/step - loss: 0.5420 - accuracy: 0.7377
Epoch 20/100
858/858 [==============================] - 4s 5ms/step - loss: 0.5413 - accuracy: 0.7388
Epoch 21/100
858/858 [==============================] - 5s 6ms/step - loss: 0.5414 - accuracy: 0.7384
Epoch 22/100
858/858 [==============================] - 7s 8ms/step - loss: 0.5415 - accuracy: 0.7381
Epoch 23/100
858/858 [==============================] - 5s 6ms/step - loss: 0.5409 - accuracy: 0.7395
Epoch 24/100
858/858 [==============================] - 5s 6ms/step - loss: 0.5414 - accuracy: 0.7388
Epoch 25/100
858/858 [==============================] - 4s 5ms/step - loss: 0.5407 - accuracy: 0.7387
Epoch 26/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5406 - accuracy: 0.7388
Epoch 27/100
858/858 [==============================] - 3s 3ms/step - loss: 0.5406 - accuracy: 0.7387
Epoch 28/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5401 - accuracy: 0.7395
Epoch 29/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5404 - accuracy: 0.7391
Epoch 30/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5400 - accuracy: 0.7395
Epoch 31/100
858/858 [==============================] - 4s 5ms/step - loss: 0.5399 - accuracy: 0.7387
Epoch 32/100
858/858 [==============================] - 4s 5ms/step - loss: 0.5394 - accuracy: 0.7388
Epoch 33/100
858/858 [==============================] - 5s 6ms/step - loss: 0.5393 - accuracy: 0.7398
Epoch 34/100
858/858 [==============================] - 5s 6ms/step - loss: 0.5394 - accuracy: 0.7391
Epoch 35/100
858/858 [==============================] - 5s 5ms/step - loss: 0.5384 - accuracy: 0.7402
Epoch 36/100
858/858 [==============================] - 7s 8ms/step - loss: 0.5389 - accuracy: 0.7397
Epoch 37/100
858/858 [==============================] - 6s 7ms/step - loss: 0.5382 - accuracy: 0.7404
Epoch 38/100
858/858 [==============================] - 5s 5ms/step - loss: 0.5388 - accuracy: 0.7403
Epoch 39/100
858/858 [==============================] - 5s 5ms/step - loss: 0.5386 - accuracy: 0.7404
Epoch 40/100
858/858 [==============================] - 5s 5ms/step - loss: 0.5383 - accuracy: 0.7401
Epoch 41/100
858/858 [==============================] - 5s 6ms/step - loss: 0.5382 - accuracy: 0.7398
Epoch 42/100
858/858 [==============================] - 5s 6ms/step - loss: 0.5379 - accuracy: 0.7403
Epoch 43/100
858/858 [==============================] - 6s 6ms/step - loss: 0.5382 - accuracy: 0.7408
Epoch 44/100
858/858 [==============================] - 5s 6ms/step - loss: 0.5375 - accuracy: 0.7401
Epoch 45/100
858/858 [==============================] - 5s 6ms/step - loss: 0.5378 - accuracy: 0.7406
Epoch 46/100
858/858 [==============================] - 5s 6ms/step - loss: 0.5376 - accuracy: 0.7406
Epoch 47/100
858/858 [==============================] - 5s 6ms/step - loss: 0.5378 - accuracy: 0.7411
Epoch 48/100
858/858 [==============================] - 5s 6ms/step - loss: 0.5375 - accuracy: 0.7406
Epoch 49/100
858/858 [==============================] - 5s 6ms/step - loss: 0.5373 - accuracy: 0.7403
Epoch 50/100
858/858 [==============================] - 5s 6ms/step - loss: 0.5367 - accuracy: 0.7410
Epoch 51/100
858/858 [==============================] - 5s 5ms/step - loss: 0.5369 - accuracy: 0.7405
Epoch 52/100
858/858 [==============================] - 5s 6ms/step - loss: 0.5367 - accuracy: 0.7408
Epoch 53/100
858/858 [==============================] - 5s 6ms/step - loss: 0.5371 - accuracy: 0.7415
Epoch 54/100
858/858 [==============================] - 7s 8ms/step - loss: 0.5370 - accuracy: 0.7411
Epoch 55/100
858/858 [==============================] - 6s 7ms/step - loss: 0.5367 - accuracy: 0.7410
Epoch 56/100
858/858 [==============================] - 8s 9ms/step - loss: 0.5369 - accuracy: 0.7412
Epoch 57/100
858/858 [==============================] - 4s 5ms/step - loss: 0.5368 - accuracy: 0.7410
Epoch 58/100
858/858 [==============================] - 4s 5ms/step - loss: 0.5365 - accuracy: 0.7406
Epoch 59/100
858/858 [==============================] - 4s 5ms/step - loss: 0.5360 - accuracy: 0.7410
Epoch 60/100
858/858 [==============================] - 4s 4ms/step - loss: 0.5363 - accuracy: 0.7413
Epoch 61/100
858/858 [==============================] - 4s 4ms/step - loss: 0.5364 - accuracy: 0.7404
Epoch 62/100
858/858 [==============================] - 4s 4ms/step - loss: 0.5363 - accuracy: 0.7411
Epoch 63/100
858/858 [==============================] - 4s 4ms/step - loss: 0.5361 - accuracy: 0.7407
Epoch 64/100
858/858 [==============================] - 4s 4ms/step - loss: 0.5358 - accuracy: 0.7410
Epoch 65/100
858/858 [==============================] - 4s 4ms/step - loss: 0.5359 - accuracy: 0.7410
Epoch 66/100
858/858 [==============================] - 4s 4ms/step - loss: 0.5356 - accuracy: 0.7412
Epoch 67/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5356 - accuracy: 0.7407
Epoch 68/100
858/858 [==============================] - 4s 4ms/step - loss: 0.5355 - accuracy: 0.7410
Epoch 69/100
858/858 [==============================] - 4s 4ms/step - loss: 0.5351 - accuracy: 0.7415
Epoch 70/100
858/858 [==============================] - 4s 4ms/step - loss: 0.5355 - accuracy: 0.7414
Epoch 71/100
858/858 [==============================] - 4s 4ms/step - loss: 0.5351 - accuracy: 0.7411
Epoch 72/100
858/858 [==============================] - 4s 4ms/step - loss: 0.5355 - accuracy: 0.7414
Epoch 73/100
858/858 [==============================] - 4s 4ms/step - loss: 0.5350 - accuracy: 0.7414
Epoch 74/100
858/858 [==============================] - 4s 4ms/step - loss: 0.5345 - accuracy: 0.7412
Epoch 75/100
858/858 [==============================] - 4s 5ms/step - loss: 0.5356 - accuracy: 0.7415
Epoch 76/100
858/858 [==============================] - 4s 4ms/step - loss: 0.5351 - accuracy: 0.7420
Epoch 77/100
858/858 [==============================] - 4s 4ms/step - loss: 0.5349 - accuracy: 0.7416
Epoch 78/100
858/858 [==============================] - 4s 4ms/step - loss: 0.5350 - accuracy: 0.7413
Epoch 79/100
858/858 [==============================] - 4s 4ms/step - loss: 0.5350 - accuracy: 0.7415
Epoch 80/100
858/858 [==============================] - 4s 4ms/step - loss: 0.5345 - accuracy: 0.7418
Epoch 81/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5345 - accuracy: 0.7416
Epoch 82/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5349 - accuracy: 0.7414
Epoch 83/100
858/858 [==============================] - 4s 4ms/step - loss: 0.5353 - accuracy: 0.7410
Epoch 84/100
858/858 [==============================] - 4s 4ms/step - loss: 0.5349 - accuracy: 0.7416
Epoch 85/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5345 - accuracy: 0.7418
Epoch 86/100
858/858 [==============================] - 4s 4ms/step - loss: 0.5341 - accuracy: 0.7418
Epoch 87/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5341 - accuracy: 0.7413
Epoch 88/100
858/858 [==============================] - 4s 4ms/step - loss: 0.5344 - accuracy: 0.7418
Epoch 89/100
858/858 [==============================] - 7s 8ms/step - loss: 0.5344 - accuracy: 0.7415
Epoch 90/100
858/858 [==============================] - 5s 6ms/step - loss: 0.5346 - accuracy: 0.7415
Epoch 91/100
858/858 [==============================] - 6s 7ms/step - loss: 0.5341 - accuracy: 0.7415
Epoch 92/100
858/858 [==============================] - 7s 8ms/step - loss: 0.5345 - accuracy: 0.7418
Epoch 93/100
858/858 [==============================] - 6s 7ms/step - loss: 0.5336 - accuracy: 0.7418
Epoch 94/100
858/858 [==============================] - 6s 7ms/step - loss: 0.5344 - accuracy: 0.7416
Epoch 95/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5335 - accuracy: 0.7418
Epoch 96/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5341 - accuracy: 0.7413
Epoch 97/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5338 - accuracy: 0.7418
Epoch 98/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5336 - accuracy: 0.7422
Epoch 99/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5336 - accuracy: 0.7422
Epoch 100/100
858/858 [==============================] - 3s 4ms/step - loss: 0.5339 - accuracy: 0.7418

In [70]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 1s - loss: 0.5666 - accuracy: 0.7210 - 1s/epoch - 7ms/step
Loss: 0.5666319727897644, Accuracy: 0.7209912538528442

In [71]:
nn.save("AlphabetSoupCharity_Optimized.h5")